/***************** CSS RESET *****************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***************** FONTS *****************/

@font-face {
    font-family: "brownhill";
    src: url("../fonts/brownhill.otf");
}
@font-face {
    font-family: "minaxi";
    src: url("../fonts/minaxi.otf");
}

/***************** NAVBAR *****************/

.navbar{
    margin-bottom: 0;
}

.navbar-nav > li > a{
    font-family: minaxi,serif;
    font-size : 25px;
    font-weight: bold;
    line-height: 40px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.navbar-brand {
    font-size: 45px;
    font-family: brownhill,serif;
    color:#B9B1B1;
    line-height: 40px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar-default{
    background-color: white;
}

.navbar-default .navbar-nav > .active > a{
    background-color: transparent!important;
}

.shrink-text{
    font-size : 20px!important;
    line-height: 35px!important;
}
.shrink-brand{
    font-size : 35px!important;
    line-height: 35px!important;
}

main{
    margin-top: 70px;
}
    /***************** Animate a element of menu *****************/
.navbar-nav > li > a {
    position: relative;
    text-decoration: none;
}

.navbar-nav > li > a:hover {
    color: #806F80;
}
.navbar-nav > li > a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -2px;
    left: 0;
    background-color: #806F80;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.navbar-nav > li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/***************** RESTAURANT.php *****************/
    /***************** Le restaurant *****************/
html {
    margin:0;
}

.restaurant{
    min-height: 68vh;
    background: url("../imgs/restaurant.jpg") no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.restaurant h2{
    font-family: 'brownhill', serif;
    text-align: center;
    font-size: 100px;
    color:white;
    margin-bottom: 50px;
}

.restaurant p{
    font-family: 'minaxi', serif;
    text-align: justify;
    font-size: 18px;
    line-height: 23px;
    color:white;
    width:70%;
    margin:auto;
}

    /***************** L'incontournable *****************/

.incontournable{
    min-height: 50vh;
    margin-bottom: 100px;
}

.incontournable .wrap{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.incontournable h2{
    font-family: 'brownhill', serif;
    text-align: center;
    font-size: 100px;
    color:#806F80;
    margin-bottom: 50px;
    margin-top: 50px;
}

.incontournable p{
    font-family: 'minaxi', serif;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    color:#806F80;
    width:70%;
    margin:auto;
}

.incontournable .picture{
    margin: auto;
}
.incontournable .picture img{
    width: 70%;
    margin: auto;
}

    /***************** NEWSLETTER *****************/

.newsletter{
    min-height: 50vh;
    background-color: #B9B1B1;
}

.newsletter form{
    text-align: center;
}

.newsletter h2{
    font-family: 'brownhill', serif;
    text-align: center;
    font-size: 100px;
    color:white;
    margin-top: 50px;
}
.newsletter p{
    font-family: 'minaxi', serif;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color:white;
    width:70%;
    margin:auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

.newsletter .form-control{
    height: 66px!important;
}

.newsletter input[type="submit"]{
    border: 1px solid white;
    border-radius: 0;
    background: transparent;
    color: white;
    padding: 15px 25px;
    font-size:22px;
    font-family: minaxi, serif;
    -webkit-box-shadow: 0 0 0 0 rgba(128,111,128,1);
    -moz-box-shadow: 0 0 0 0 rgba(128,111,128,1);
    box-shadow: 0 0 0 0 rgba(128,111,128,1);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.newsletter input[type="email"]{
    background: transparent;
    padding: 15px 25px;
    border: 1px solid #806F80;
    margin-right: 20px;
    border-radius: 0;
    color: #806F80;
    -webkit-box-shadow: 0 0 0 0 rgba(128,111,128,1);
    -moz-box-shadow: 0 0 0 0 rgba(128,111,128,1);
    box-shadow: 0 0 0 0 rgba(128,111,128,1);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.newsletter input[type="email"]::placeholder{
    color:white;
    font-family: minaxi,serif;
}
.newsletter input[type="submit"]:hover{
    background: #806F80;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(128,111,128,1);
    -moz-box-shadow: 5px 5px 5px 0 rgba(128,111,128,1);
    box-shadow: 5px 5px 5px 0 rgba(128,111,128,1);
}
.newsletter input[type="email"]:focus{
    -webkit-box-shadow: 5px 5px 5px 0 rgba(128,111,128,1);
    -moz-box-shadow: 5px 5px 5px 0 rgba(128,111,128,1);
    box-shadow: 5px 5px 5px 0 rgba(128,111,128,1);
}


/***************** INFOS PRATIQUE *****************/
    /***************** Contact Form *****************/

#contact{
    background-color:#B9B1B1;
}

.contact{
    margin-top: 70px;
}
.contact hr{
    display: none;
}
.contact h2{
    font-family: 'brownhill', serif;
    text-align: center;
    font-size: 100px;
    color:white;
}

.contact h3{
    font-family: 'minaxi', serif;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin-top: 30px;
    color:white;
}

.contact .col-md-6:first-child{
    border-right:1px solid #806F80;
}

.contact form{
    width: 50%;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact form label{
    margin-bottom: 10px;
    font-family: minaxi,serif;
    color:white;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea{
    background: transparent!important;
    padding: 15px 25px!important;;
    border: 1px solid #806F80!important;;
    margin-right: 20px!important;;
    border-radius: 0!important;;
    color: #806F80!important;;
    -webkit-box-shadow: 0 0 0 0 rgba(128,111,128,1)!important;;
    -moz-box-shadow: 0 0 0 0 rgba(128,111,128,1)!important;;
    box-shadow: 0 0 0 0 rgba(128,111,128,1)!important;;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.contact textarea{
    resize: vertical;
}
.contact input[type="submit"]{
    border: 1px solid white;
    border-radius: 0;
    background: transparent;
    color: white;
    padding: 15px 25px;
    font-size:22px;
    font-family: minaxi, serif;
    -webkit-box-shadow: 0 0 0 0 rgba(128,111,128,1);
    -moz-box-shadow: 0 0 0 0 rgba(128,111,128,1);
    box-shadow: 0 0 0 0 rgba(128,111,128,1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.contact input[type="submit"]:hover{
    background: #806F80;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(128,111,128,1);
    -moz-box-shadow: 5px 5px 5px 0 rgba(128,111,128,1);
    box-shadow: 5px 5px 5px 0 rgba(128,111,128,1);
}
.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
textarea:focus{
    -webkit-box-shadow: 5px 5px 5px 0 rgba(128,111,128,1)!important;
    -moz-box-shadow: 5px 5px 5px 0 rgba(128,111,128,1)!important;;
    box-shadow: 5px 5px 5px 0 rgba(128,111,128,1)!important;;
}

    /***************** Nous retrouver *****************/

.contact p{
    text-align: center;
    font-family: minaxi,serif;
    color:white;
    margin-top: 50px;
}

/***************** MEDIA QUERIES*****************/


@media only screen and (max-width : 480px) {
    body{
        overflow-x: hidden;
        margin: -6px;
    }
    .restaurant{
        display: block;
    }
}

@media only screen and (max-width : 915px) {
    .contact .col-md-6:first-child{
        border-right:0;
    }
    .contact hr{
        display: block;
        width: 50%;
        border-color:#806F80;
    }
    .navbar-brand,
    .nav li a{
        font-size : 20px!important;
        line-height: 35px!important;
        color:#806F80;
    }
}